.board {
    position: relative;
}

.game_area {
    width: available;
    display: flex;
    flex-direction: row;
}

.row {
    display: flex;
    flex-direction: row;
}

.card {
    width: 100px;
    background-image: url("example_card.png");
    background-size: cover;
    height: 140px;
}

.position {
    margin: 5px 7px 5px 7px;
    height: 140px;
    width: 100px;
    border: solid;
}

img {
    max-width:100%;
    max-height:100%;
    height: auto;
    user-select: none;
}

body, html {
    overflow-x: hidden;
    overflow-y: hidden;
    width: available;
    height: 99%;
    font-family: Arial, serif;
}

.game_info {
    position: relative;
    width: available;
    height: 100px;
    top: 0;
    left: 0;
}

#pl_info {
    float: left;
    background-color: blue;
    width: 40%;
    height: 100%;
}

#op_info {
    float: right;
    background-color: red;
    width: 40%;
    height: 100%;
    text-align: right;
}

#game_score {
    float: left;
    background: green;
    width: 20%;
    height: 100%;
    font-size: 300%;
}

#pl_score {
    background: violet;
    float: left;
    height: 100%;
    line-height: 200%;
    width: 45%;
    text-align: right;
}

#op_score {
    background: violet;
    float: right;
    height: 100%;
    line-height: 200%;
    width: 45%;
}

#dv_score {
    background: aqua;
    float: left;
    width: 10%;
    height: 100%;
    line-height: 200%;
    text-align: center;
}

.area {
    margin-top: 5px;
    height: 450px;
    width: 50%;
    position: relative;
}

#player_area {
    left: 0;
}

#opponent_area {
    right: 0;
}

.hand {
    width: 100px;
    height: 444px;
    position: relative;
}

#player_hand {
    float: left;
    left: 0;
}

#opponent_hand {
    float: right;
}

.hand_position {
    display: flex;
    position: absolute;
    margin: 0;
    top: 0;
    height: 134px;
    width: 100px;
}

#pl_hand_pos_1, #op_hand_pos_1 {
    top: 0;
}

#pl_hand_pos_2, #op_hand_pos_2 {
    top: 74px;
}

#pl_hand_pos_3, #op_hand_pos_3 {
    top: 148px;
}

#pl_hand_pos_4, #op_hand_pos_4 {
    top: 222px;
}

#pl_hand_pos_5, #op_hand_pos_5 {
    top: 296px;
}
