.board {
    position: relative;
    background-color: darkcyan;
}

.game_area {
    width: available;
    display: flex;
    flex-direction: row;
    background-color: green;
    margin: 20px 0 20px 0;
}

.row {
    display: flex;
    flex-direction: row;
}

.op_card {
    width: 25px;
    background-image: url("example_card.png");
    background-size: cover;
    height: 35px;
    position: relative;
}

.card {
    width: 100px;
    background-image: url("example_card.png");
    background-size: cover;
    height: 140px;
    position: relative;
}

.card_back {
    background-image: url("example_card_back.png");
}

.card_stats {
    width: 25%;
    height: 20%;
    text-align: center;
    font-size: 10px;
    color: white;
    padding-top: 5px;
    padding-left: 5px;
    user-select: none;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.card_stat_north {
    float: left;
    width: 100%;
    height: 33.33%;
}

.card_stat_west {
    float: left;
    width: 50%;
    height: 33.33%;
}

.card_stat_east {
    float: right;
    width: 50%;
    height: 33.33%;
}

.card_stat_south {
    float: left;
    width: 100%;
    height: 33.33%;
}

.position {
    margin: 5px 7px 5px 7px;
    height: 140px;
    width: 100px;
    border: solid;
    border-radius: 10px;
}

img {
    max-width:100%;
    max-height:100%;
    height: auto;
    user-select: none;
}

body, html {
    overflow-x: hidden;
    overflow-y: hidden;
    width: available;
    height: 99%;
    font-family: Arial, serif;
}

.game_info {
    position: relative;
    width: available;
    height: 100px;
    top: 0;
    left: 0;
    background-color: purple;
}

#pl_info {
    float: left;
    width: 40%;
    height: 100%;
}

#op_info {
    float: right;
    width: 40%;
    height: 100%;
    text-align: right;
}

#game_score {
    float: left;
    width: 20%;
    height: 100%;
    font-size: 300%;
    display: flex;
    flex-direction: row;
    background-color: green;

}

#pl_score {
    float: left;
    height: 100%;
    line-height: 200%;
    width: 43%;
    text-align: right;
    background-color: crimson;
    padding-right: 2px;
}

#op_score {
    float: right;
    height: 100%;
    line-height: 200%;
    width: 43%;
    background-color: indigo;
    padding-left: 2px;
}

#dv_score {
    float: left;
    width: 14%;
    height: 100%;
    line-height: 200%;
    text-align: center;
    background-color: sienna;
}

.title {
    font-size: 150%;
    font-weight: bold;
}

.area {
    margin-top: 5px;
    height: 134px;
    width: 100%;
    position: relative;
}

#player_area {
    bottom: 0;
    float: bottom;
    width: available;
    background-color: red;
}

#opponent_area {
    margin-top: 5px;
    height: 134px;
    width: 100%;
    position: relative;
    background-color: blue;
}

.hand {
    width: 70%;
    height: 444px;
    position: relative;
}

#pl_buffer_left {
    float: left;
    width: 40%;
    height: 100%;
    background-color: aqua;
}

#pl_buffer_right {
    float: right;
    width: 40%;
    height: 100%;
    background-color: orange;
}

#player_hand {
    float: left;
    width: 20%;
    height: 100%;
    background-color: violet;
}

#opponent_hand {
    float: left;
    right: 0;
}

.hand_position {
    position: absolute;
    margin: 0;
    top: 0;
    height: 134px;
    width: 110px;
}

/*pl hand*/
#pl_hand_pos_1 {
    left: 0;
}

#pl_hand_pos_2 {
    left: 74px;
}

#pl_hand_pos_3 {
    left: 148px;
}

#pl_hand_pos_4 {
    left: 222px;
}

#pl_hand_pos_5 {
    left: 296px;
}

#pl_hand_pos_6 {
    left: 370px;
}

#pl_hand_pos_7 {
    left: 444px;
}

#pl_hand_pos_8 {
    left: 518px;
}

#pl_hand_pos_9 {
    left: 592px;
}

#pl_hand_pos_10 {
    left: 666px;
}

#pl_hand_pos_11 {
    left: 740px;
}

#pl_hand_pos_12 {
    left: 814px;
}

#pl_hand_pos_13 {
    left: 888px;
}

#pl_hand_pos_14 {
    left: 962px;
}

#pl_hand_pos_15 {
    left: 1036px;
}

/*op hand*/
#op_hand_pos_1 {
    left: 0;
}

#op_hand_pos_2 {
    left: 14px;
}

#op_hand_pos_3 {
    left: 28px;
}

#op_hand_pos_4 {
    left: 42px;
}

#op_hand_pos_5 {
    left: 56px;
}