/*:root {
    --background-color: black;
}*/

.board {
    background-color: darkcyan;
    width: 50vw;
    max-width: 50vw;
    left: 25vw;
    position: fixed;
    height: 80vh;
}

.card_info {
    right: 0;
    width: 25vw;
    max-width: 25vw;
    height: 80vh;
    position: fixed;
    background-color: purple;
}

.game_info{
    left: 0;
    width: 25vw;
    max-width: 25vw;
    height: 80vh;
    position: fixed;
    background-color: deeppink;
}

.game_area {
    width: 100vw;
    top: 0;
    left: 0;
    height: 80vh;
    display: flex;
    position: fixed;
    flex-direction: row;
    background-color: green;
}

#grid {
    transform: scale(0.01);
    display: grid;
    grid-template-columns: 7fr 6fr 21fr;
}

.position {
    max-height: 270px;
    max-width: 180px;
    height: 270px;
    width: 180px;
    border: solid;
    transform-origin: 90px 135px;
    transform: scale(0.5);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 7px;
}

/* top left */
#position_1 {
    transform-origin: top left;
    transform: scale(0.5) translate(-125px, -165px);
}

/* top middle */
#position_2 {
    transform-origin: top center;
    transform: scale(0.5) translate(0px, -165px);
}

/* top right */
#position_3 {
    transform-origin: top right;
    transform: scale(0.5) translate(125px, -165px);
}

/* middle left */
#position_4 {
    transform-origin: left center;
    transform: scale(0.5) translate(-125px, 0px);
}

/* middle */
#position_5 {
    transform-origin: center;
}

/* middle right */
#position_6 {
    transform-origin: right center;
    transform: scale(0.5) translate(125px, 0px);
}

/* bottom left */
#position_7 {
    transform-origin: left bottom;
    transform: scale(0.5) translate(-125px, 165px);
}

/* bottom middle */
#position_8 {
    transform-origin: bottom;
    transform: scale(0.5) translate(0px, 165px);
}

/* bottom right */
#position_9 {
    transform-origin: right bottom;
    transform: scale(0.5) translate(125px, 165px);
}

.op_card {
    width: 23px;
    background-image: url("card_base.png");
    background-size: cover;
    height: 34px;
    position: relative;
}

.card_back {
    background-image: url("card_base.png");
}

.card {
    width: 180px;
    background-image: url("card_base.png");
    background-size: cover;
    height: 270px;
    user-select: none;
    position: absolute;
}

.card_test {
    width: 180px;
    background-image: url("card_base.png");
    background-size: cover;
    height: 270px;
    position: absolute;
}

.card_background {
    width: 180px;
    height: 180px;
    background-image: url("card_background_2.png");
    position: absolute;
}

.card_image {
    width: 180px;
    height: 180px;
    background-image: url("card_image_3.png");
    position: absolute;
}

.card_atk_image {
    width: 30px;
    height: 30px;
    background-image: url("card_attack_image.png");
    position: absolute;
    transform: translate(8px, 142px);
}

.card_atk_val {
    width: 38px;
    height: 30px;
    font-size: 30px;
    color: white;
    font-weight: bold;
    text-align: left;
    line-height: 100%;
    position: absolute;
    transform: translate(46px, 142px);
}

.card_def_image {
    width: 30px;
    height: 30px;
    background-image: url("card_health_image.png");
    position: absolute;
    transform: translate(142px, 142px);
}

.card_def_val {
    width: 38px;
    height: 30px;
    font-size: 30px;
    color: white;
    font-weight: bold;
    text-align: right;
    line-height: 100%;
    position: absolute;
    transform: translate(96px, 142px);
}

.card_name {
    width: 164px;
    height: 42px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    text-align: left;
    line-height: 100%;
    overflow: hidden;
    position: absolute;
    transform: translate(8px, 176px);
}

.card_ability {
    width: 164px;
    height: 45px;
    font-size: 12px;
    color: white;
    text-align: left;
    letter-spacing: 0.1em;
    overflow: hidden;
    position: absolute;
    transform: translate(8px, 217px);
}

.card_stats {
    width: 25%;
    height: 20%;
    text-align: center;
    font-size: 10px;
    color: white;
    padding-top: 5px;
    padding-left: 5px;
    user-select: none;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.card_stat_north {
    float: left;
    width: 100%;
    height: 33.33%;
}

.card_stat_west {
    float: left;
    width: 50%;
    height: 33.33%;
}

.card_stat_east {
    float: right;
    width: 50%;
    height: 33.33%;
}

.card_stat_south {
    float: left;
    width: 100%;
    height: 33.33%;
}

img {
    max-width:100%;
    max-height:100%;
    height: auto;
    user-select: none;
}

body, html {
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    height: 99%;
    font-family: Arial, serif;
    position: fixed;
}

#pl_info {
    float: left;
    width: 40%;
    height: 100%;
}

#op_info {
    float: right;
    width: 40%;
    height: 100%;
    text-align: right;
}

.game_score {
    float: left;
    width: 25%;
    height: 100%;
    font-size: 300%;
    display: flex;
    flex-direction: row;
    background-color: green;

}

#pl_score {
    float: left;
    height: 100%;
    line-height: 200%;
    width: 43%;
    text-align: right;
    background-color: crimson;
    padding-right: 2px;
}

#op_score {
    float: right;
    height: 100%;
    line-height: 200%;
    width: 43%;
    background-color: indigo;
    padding-left: 2px;
}

#dv_score {
    float: left;
    width: 14%;
    height: 100%;
    line-height: 200%;
    text-align: center;
    background-color: sienna;
}

.title {
    font-size: 150%;
    font-weight: bold;
}

.area {
    margin-top: 5px;
    height: 134px;
    width: 100%;
    position: relative;
}

#player_area {
    bottom: 0;
    left: 0;
    float: bottom;
    position: fixed;
    width: available;
    background-color: red;
    height: 20vh;
}

#opponent_area {
    margin-top: 5px;
    height: 134px;
    width: 30px;
    position: relative;
    background-color: blue;
}

.hand {
    position: relative;
}

#pl_buffer_left {
    float: left;
    width: 15%;
    height: 100%;
    background-color: aqua;
    align-content: center;
}

#pl_buffer_right {
    float: right;
    width: 15%;
    height: 100%;
    background-color: orange;
}

#player_hand {
    float: left;
    width: 70%;
    height: 100%;
    background-color: violet;
}

#opponent_hand {
    float: left;
    right: 0;
}

.hand_position {
    transform-origin: top left;
    position: absolute;
    height: 270px;
    width: 180px;
    background-color: greenyellow;
}

/*pl hand*/
#pl_hand_pos_1 {
    left: 0;
}

#pl_hand_pos_2 {
    left: 20%;
}

#pl_hand_pos_3 {
    left: calc(20% * 2);
}

#pl_hand_pos_4 {
    left: calc(20% * 3);
}

#pl_hand_pos_5 {
    left: calc(20% * 4);
}

/*op hand*/
#op_hand_pos_1 {
    left: 0;
}

#op_hand_pos_2 {
    left: 14px;
}

#op_hand_pos_3 {
    left: 28px;
}

#op_hand_pos_4 {
    left: 42px;
}

#op_hand_pos_5 {
    left: 56px;
}